html, body {
  font-family: "helvetica", "Arial", "Time new roman";
  padding: 0;
  margin: 0;
  height: 100%; }

main {
  position: relative; }
  main p {
    margin-top: 0;
    margin-bottom: 20px; }
  main label {
    font-size: 12px;
    font-weight: 700; }
  main .container {
    max-width: 960px;
    margin: 0 auto;
    display: block; }
  main .intro {
    padding-bottom: 30px;
    font-size: 22px;
    color: #4d4d4d;
    text-align: center;
    font-weight: 300; }

.text-nowrap {
  white-space: nowrap; }

.center {
  display: block;
  margin: 0 auto; }

.modal-container {
  z-index: -2;
  position: absolute;
  min-height: 120vh;
  width: 100%;
  background: transparent;
  margin-top: -22px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .modal-container.visible {
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

.modal-content {
  max-width: 600px;
  min-height: 330px;
  background-color: white;
  opacity: 0;
  margin: 100px auto;
  display: block;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-left: 10px;
  padding-right: 10px; }
  .modal-content .heading {
    padding: 20px 30px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin: 0; }
  .modal-content.visible {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
    margin-top: 30px; }
  .modal-content .escape {
    text-align: right;
    margin: 0;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .modal-content .escape:hover {
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      cursor: pointer;
      color: #2ab754; }
  .modal-content .btn-container {
    display: inline;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    justify-content: center;
    padding-bottom: 20px; }

@media screen and (max-width: 767px) {
  .modal-content {
    max-width: 90%; } }

.btn {
  border: 2px solid #00aced;
  width: 200px;
  height: 48px;
  font-size: 16px;
  text-align: center;
  line-height: 48px;
  background-color: #00aced;
  color: white;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .btn:hover {
    background-color: #0087ba;
    border: 2px solid #0087ba;
    cursor: pointer;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .btn.btn-tweet {
    line-height: 24px; }
  .btn.btn-escape {
    margin-right: 10px; }
  .btn.btn-modal {
    display: block;
    margin: 0 auto; }

.btn-ghost {
  background-color: white;
  color: #00aced;
  border: 2px solid #00aced; }
  .btn-ghost:hover {
    color: white;
    border: 2px solid #0087ba; }

button[disabled] {
  cursor: not-allowed;
  opacity: .15;
  line-height: 24px; }
  button[disabled]:hover {
    cursor: not-allowed; }

.twiter-modal-component {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .twiter-modal-component .characters-left {
    color: #4d4d4d;
    text-align: right;
    font-size: 12px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .twiter-modal-component .characters-left.orange {
      color: orange; }
    .twiter-modal-component .characters-left.red {
      color: red; }
  .twiter-modal-component .tweet-area {
    resize: none;
    width: 93%;
    height: 100px;
    margin: 0 auto 10px;
    display: block;
    outline: none;
    font-size: 16px;
    padding: 12px;
    border: 1px solid #8d8d8d;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px; }
    .twiter-modal-component .tweet-area:focus {
      border: 1px solid #0087ba;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
  .twiter-modal-component .characters-left {
    text-align: right;
    text-align-last: right;
    padding-bottom: 20px;
    padding-right: 10px; }
  @media screen and (max-width: 767px) {
    .twiter-modal-component .tweet-area {
      width: 90%; }
    .twiter-modal-component .characters-left {
      padding-right: 0; } }
