.card-container{
	display: flex;
	flex-direction: row;
	margin-bottom: 60px;
	
	@media screen and (max-width: $media-med){
		flex-direction: column;
	}
}

.card-item{
    height: 100%;
    width: 100%;
    border: 1px solid black;
    margin-bottom: 0;
    margin-right: $grid-gutter-width/2;
    box-shadow: none;
    transition: box-shadow linear 0.2s;     

    &:hover{
    	border: 1px solid darken($brand-color, 15%);
    	cursor: pointer;
    	box-shadow: 3px 6px 7px $color-grey-light;
	    transition: box-shadow linear 0.2s;     

    	.btn-card{
	        background-color: darken($brand-color, 10%); 
    	}
    }

    &:last-child{
    	margin-right: 0;
    }

	@media screen and (max-width: $media-med){
		margin-right: 0;
		margin-bottom: 20px;
	}
}

.card-content{
	display: flex;
	padding: 12px;
	flex-direction: row;

	@media screen and (max-width: $media-sml){
		flex-direction: column;
	}
}

.card-description{
	width: 100%;
	padding-right: $grid-gutter-width/4;
}