.hamburger-container{
    width: 50px;
    position: relative;
    padding-top: 20px;
    padding-left: $grid-gutter-width/4;
    display: none;

    &:hover{
        cursor: pointer;

        .hamburger-bar{
            background-color: darken(white, 20%);
        }
    }

    @media screen and (max-width:$media-med){
        display: block;
    }

}

.hamburger-bar{
    width: $hamburger-bar-width;
    background-color: white;
    height: 2px;
    position: absolute;
    transition: all ease-in-out 0.2s;

    &.hamburger-bar-1{
    	top: 20px;
    }

    &.hamburger-bar-2{
    	top: 30px;
    }

    &.hamburger-bar-3{
    	top: 40px;
    } 	

    &.hamburger-bar-1-rotate{
    	transform: rotate(45deg);
    	top: 30px;
    	transition: all ease-in-out 0.2s;    	
    }

    &.hamburger-bar-2-hide{
    	opacity: 0;
    	transition: all ease-in-out 0.2s;
    }

    &.hamburger-bar-3-rotate{
    	transform: rotate(-45deg);
    	top: 30px;
    }
}