.hero-banner{
	height: $hero-banner-height-desktop;
	width: 100%;
   	background-image: url("../images/auckland-city.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-overlay{
	height: $hero-banner-height-desktop;
	width: 100%;
	background-color: #00000050;
}

.hero-parrallax{
	background-attachment: fixed;
    background-size: cover;
}