@import "variables";

h1{
	margin-top: 0;
    margin-bottom: 25px;
    font-weight: $font-weight-light;
    font-size: $h1-font-size-desktop;
}

h3{
	font-size: $h3-font-size-desktop;
}

p{
	line-height: $p-line-height;
    font-size: $p-font-size;
    margin-bottom: 20px;
    margin-top: 0;
}