//Colors
$brand-color: #184854;
$color-green-light: #80C3A4;
$color-grey-mid: #757575;
$color-grey-light: #b2b2b2;

//Typography
$h1-font-size-desktop: 32px;
$h1-font-size-mobile: 30px;
$font-weight-light: 300;

$p-font-size: 16px;
$p-line-height: 22px;
$btn-line-height: 44px;

$form-font-size: 18px;

$h3-font-size-desktop: 24px;
$h3-font-size-mobile: 22px;

//Header
$header-height: 70px;
$header-width: 960px;

//Hamburger 
$hamburger-bar-width: 40px;

//Hero banner
$hero-banner-height-desktop: 500px;

//Spacing and containers
$container-width: 960px;
$grid-gutter-width: 40px;

//Forms
$form-height: 44px;

//Buttons
$btn-card-width: 200px;
$btn-card-height: 44px;
$btn-radius: 4px;

//Media Queries taken from Bootstrap
$media-tablet: 1025px;
$media-mobile: 767px;

$media-xlg: 1200px;
$media-lg: 992px;
$media-med: 768px;
$media-sml: 576px;