@import "variables";

.centered{
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);

	@media screen and (max-width: $mobile-media){
		transform: none;
		left: 0;
		top: $padding-40;
		position: relative;
	}
}

.img-responsive{
	margin: 0 auto;
	display: block;
}