@import "variables";

.sot-talk {

	color: $white;

	h1{ 
		font-size: $desktop-h1;
		padding-bottom: $padding-30;

		span{
			white-space: nowrap;
		}

		&.main-grey{
			color: $headings-body-color;
		}		

		@media screen and (max-width: $mobile-media){
			font-size: ($desktop-h1 - 8);
			padding-bottom: 0;
		}
	}

	h3{
		font-size: $desktop-h3;
		padding-bottom: $padding-40;
		font-weight: 400;

		@media screen and (max-width: $mobile-media){
			font-size: ($desktop-h3 - 8);
			padding-bottom: 20px;
		}		
	}

	p{
		font-size: $body-copy-size;
		color: $body-copy-color;
		margin-bottom: $padding-30;
		line-height: 32px;
	}

	.container-full-height{
		height: $container-full-height;
		padding-top: ($padding-50 + 10);

		@media screen and (max-width: $mobile-media){
			height: 160vh;
			padding-top: 0;		
		}

		&.primary-blue{
			background-color: $primary-blue;
		}

		&.main-grey{
			background-color: $main-grey;

			h1{
				color: $headings-body-color;
				margin-top: 0;
			}

			.img-sot{
				@media screen and (max-width: $mobile-media){
					padding-bottom: 30px;
				}				
			}
		}

		&.white{
			background-color: $white;

			h1{
				color: $headings-body-color;
			}

			h4{
				color: $body-copy-color;
			}
		}	

		&.code-bg{
			background-color: $primary-blue;	
		}

		.about-container{
			padding-bottom: $padding-50;

			h4{
				padding-top: $padding-30;
				color: $body-copy-color;
			}
		}
	}
}
