//Colors

$main-grey: #dddddd;
$white: #fff;
$primary-blue: #0073a5;
$body-copy-color: #4d4d4d;
$headings-body-color: #262626;


//main media query sizes
$mobile-media: 768px;

//Height and Widths
$container-full-height: 100vh;

//Typography

$desktop-h1: 42px;
$desktop-h2: 32px;
$desktop-h3: 28px;
$body-copy-size: 18px;

//Padding Values

$padding-10: 10px;
$padding-20: 20px;
$padding-30: 30px;
$padding-40: 40px;
$padding-50: 50px;