//Layout variables
$layout-width: 960px;
$grid-gutter-width: 40px;

//colors variables
$color-green-mint: #2ab754; 
$color-twitter-blue: #00aced; 
$font-base-gray: #4d4d4d;
$font-base-gray-light: #4d4d4d;

//type variables
$font-size-base: 16px;
$font-size-label: 12px;
$font-weight-light: 300;
$font-weight-heavy: 700;
$font-size-h1-desktop: 32px;
$font-size-h3-desktop: 22px;
$font-size-modal-heading: 24px;

//Modal variables
$modal-width: 600px;
$modal-height: 330px;

//button variables
$line-height-btn: 48px;
$btn-height: 48px;
$btn-width: 200px;


//Media Queries 
$mobile: 767px;
$tablet: 1025px;

